<template>
  <div class="welcome">
    <div class="welcome-card">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p>Перенаправление на страницу операции...</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "AuthActionPage",

  computed: {
    mode() {
      return this.$route.query.mode;
    },

    code() {
      return this.$route.query.oobCode;
    },
  },

  created() {
    switch (this.mode) {
      case "resetPassword":
        this.$router.push({
          name: "reset-password",
          params: {
            code: this.code,
          },
        });

        break;

      case "recoverEmail":
        this.$router.push({
          name: "recover-email",
          params: {
            code: this.code,
          },
        });

        break;

      case "verifyEmail":
        this.$router.push({
          name: "verify-email",
          params: {
            code: this.code,
          },
        });

        break;

      default:
        this.$router.push({
          name: "home",
        });

        break;
    }
  },
};
</script>
