<template>
  <div class="section">
    <h5>Мониторинг финансовых показателей</h5>
    <MonitoringFinances />
  </div>

  <div class="divider"></div>

  <div class="section">
    <h5>Мониторинг партнерских показателей</h5>
    <MonitoringPartners />
  </div>

  <div class="divider"></div>

  <div class="section">
    <h5>Мониторинг показателей по рекрутам</h5>
    <MonitoringRecruits />
  </div>

  <div class="divider"></div>

  <div class="section">
    <h5>Мониторинг профиля</h5>
    <MonitoringProfile />
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const MonitoringFinances = asyncImport("MonitoringFinances");
const MonitoringPartners = asyncImport("MonitoringPartners");
const MonitoringRecruits = asyncImport("MonitoringRecruits");
const MonitoringProfile = asyncImport("MonitoringProfile");

export default {
  name: "DashboardPage",

  components: {
    MonitoringFinances,
    MonitoringPartners,
    MonitoringRecruits,
    MonitoringProfile,
  },
};
</script>
