<template>
  <div class="section">
    <MonitoringFinances />
  </div>

  <div class="divider"></div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Детали по финансовым операциям</h5>

        <AppTable
          :cols="tableColumns"
          :rows="items"
          :row-items="tableRowItems"
          :detail-items="tableDetailItems"
          :is-fetching="isFetching"
          :has-fetching-error="hasFetchingError"
        />
      </div>
    </div>
  </div>
</template>

<script>
// ID операции - uid
// Сумма - amount

// Бонус за покупку партнером - isBonusForPartnerPurchase
// Бонус за приглашение рекрута - isBonusForRecruit
// Вывод средств на карту - isWithdrawal
// Перевод средств внутри системы - isTransfer

// Выполнен - isCompleted && !isDeclined
// Отклонен - !isCompleted && isDeclined

// В ожидании - !isCompleted && !isDeclined

// Дата создания - createdAt
// Дата выполнения - completedAt
// Дата отклонения - declinedAt

import { mapActions, mapState } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const MonitoringFinances = asyncImport("MonitoringFinances");
const AppTable = asyncImport("AppTable");

export default {
  name: "FinancesPage",

  components: {
    MonitoringFinances,
    AppTable,
  },

  data() {
    return {
      tableColumns: ["ID", "Сумма", "Тип операции", "Статус"],
      tableRowItems: [
        {
          data: "id",
          filter: "no-filter",
        },
        {
          data: "amount",
          filter: "currency",
        },
        {
          data: "_row",
          filter: "financeOperationType",
        },
        {
          data: "_row",
          filter: "financeOperationStatus",
        },
      ],
      tableDetailItems: [
        {
          title: "ID операции",
          data: "id",
          filter: "no-filter",
        },
        {
          title: "Сумма",
          data: "amount",
          filter: "currency",
        },
        {
          title: "Тип операции",
          data: "_row",
          filter: "financeOperationType",
        },
        {
          title: "Дата создания",
          data: "createdAt",
          filter: "dateTime",
        },
        {
          title: "Дата одобрения",
          data: "completedAt",
          filter: "dateTime",
        },
        {
          title: "Дата отклонения",
          data: "declinedAt",
          filter: "dateTime",
        },
        {
          title: "Статус",
          data: "_row",
          filter: "financeOperationStatus",
        },
      ],
    };
  },

  computed: {
    ...mapState("finances", ["items", "isFetching", "hasFetchingError"]),
  },

  mounted() {
    this.fetchFinances(this.$_user.uid);
  },

  methods: {
    ...mapActions("finances", { fetchFinances: "FETCH_FINANCES" }),
  },
};
</script>
