<template>
  <div class="welcome">
    <div class="welcome-card">
      <div class="card-panel">
        <div v-if="$_user">
          <h5>{{ welcomeText }}</h5>

          <router-link
            :to="{
              name: 'dashboard',
            }"
            class="waves-effect waves-light btn btn-large"
          >
            Войти в Дашборд
          </router-link>
        </div>

        <div v-if="!$_user">
          <FormSignIn />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const FormSignIn = asyncImport("FormSignIn");

export default {
  name: "HomePage",

  components: {
    FormSignIn,
  },

  computed: {
    welcomeText() {
      if (this.$_user && this.$_user.name) {
        return `${this.$_user.name}, добро пожаловать в Личный кабинет Rubus`;
      }

      return "Добро пожаловать в Личный кабинет Rubus";
    },
  },
};
</script>

<style lang="scss">
.welcome-card {
  .card-panel {
    h5 {
      margin-bottom: 2rem;
    }
  }
}
</style>
