<template>
  <div class="section">
    <MonitoringPartners />
  </div>

  <div class="divider"></div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Детали по партнерам</h5>

        <AppTable
          :cols="tableColumns"
          :rows="items"
          :row-items="tableRowItems"
          :detail-items="tableDetailItems"
          :is-fetching="isFetching"
          :has-fetching-error="hasFetchingError"
        />
      </div>
    </div>
  </div>
</template>

<script>
// amount
// approvedAt
// createdAt
// currency
// isApproved
// isBonusForPartnerPurchase
// isBonusForRecruit
// uid

import { mapActions, mapState } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const MonitoringPartners = asyncImport("MonitoringPartners");
const AppTable = asyncImport("AppTable");

export default {
  name: "PartnersPage",

  components: {
    MonitoringPartners,
    AppTable,
  },

  data() {
    return {
      tableColumns: ["Название", "Дата подключения", "Статус"],
      tableRowItems: [
        {
          data: "name",
          filter: "no-filter",
        },
        {
          data: "createdAt",
          filter: "dateTime",
        },
        {
          data: "isApproved",
          filter: "no-filter",
        },
      ],
      tableDetailItems: [
        {
          title: "ID партнера",
          data: "id",
          filter: "no-filter",
        },
        {
          title: "Название",
          data: "name",
          filter: "no-filter",
        },
        {
          title: "Дата создания",
          data: "createdAt",
          filter: "dateTime",
        },
        {
          title: "Дата одобрения",
          data: "completedAt",
          filter: "dateTime",
        },
        {
          title: "Дата отключения",
          data: "declinedAt",
          filter: "dateTime",
        },
        {
          title: "Причина отключения",
          data: "reason",
          filter: "no-filter",
        },
        {
          title: "Статус",
          data: "_row",
          filter: "financeOperationStatus",
        },
      ],
    };
  },

  computed: {
    ...mapState("partners", ["items", "isFetching", "hasFetchingError"]),
  },

  mounted() {
    this.fetchPartners(this.$_user.uid);
  },

  methods: {
    ...mapActions("partners", { fetchPartners: "FETCH_PARTNERS" }),
  },
};
</script>
