<template>
  <div class="section">
    <MonitoringProfile />
  </div>

  <div class="divider"></div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Изменение профиля</h5>

        <!-- <p>Мой ID: {{ $_user.uid }}</p>
        <p>E-mail: {{ $_user.email }}</p>
        <p>E-mail подтверджен: {{ $_user.isEmailVerified }}</p>
        <p>Телефон: {{ $_user.phone }}</p>
        <p>Имя: {{ $_user.name }}</p>
        <p>Телеграм: {{ $_user.telegram }}</p>
        <p>Аватар: {{ $_user.avatar }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const MonitoringProfile = asyncImport("MonitoringProfile");

export default {
  name: "ProfilePage",

  components: {
    MonitoringProfile,
  },
};
</script>
