<template>
  <div class="welcome">
    <div class="welcome-card">
      <div
        class="preloader-wrapper big active"
        v-if="formErrorsMessages.length === 0"
      >
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <p v-if="formErrorsMessages.length === 0">
        {{ $t("block-auth.recovering-email") }}
      </p>

      <AppNotification v-if="formErrorsMessages.length" :is-danger="true">
        <ul v-if="formErrorsMessages.length > 1">
          <li v-for="(item, key) in formErrorsMessages" :key="key">
            {{ item }}
          </li>
        </ul>
        <span v-else>{{ formErrorsMessages[0] }}</span>
      </AppNotification>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const AppNotification = asyncImport("AppNotification");

export default {
  name: "RecoverEmailPage",

  components: {
    AppNotification,
  },

  props: {
    code: {
      type: String,
      required: true,
    },
  },

  computed: {
    ...mapState("auth/recover-email", {
      formErrors: (state) => state.errors,
    }),

    formErrorsMessages() {
      return this.formErrors.map((item) =>
        this.$t(`block-errors.recover-email.${item}`)
      );
    },
  },

  methods: {
    ...mapActions("auth/recover-email", {
      recoverEmail: "RECOVER_EMAIL",
    }),
  },

  created() {
    this.recoverEmail(this.code).then((response) => {
      if (response) {
        this.$router.push({
          name: "home",
        });

        this.$_materialize.toast({
          html: "Ваш е-мейл восстановлен, мы отправили вам ссылку для сброса пароля!",
          classes: "rounded teal accent-4",
          displayLength: 10000,
        });
      }
    });
  },
};
</script>

<style lang="scss">
.page_recover-email {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
