<template>
  <div class="welcome">
    <div class="welcome-card">
      <div class="card-panel">
        <BaseForm
          :is-loading="isFormProcessing"
          title="Сбросить пароль"
          submit-btn-title="Сбросить пароль"
          @submit="submitForm"
        >
          <BaseInput
            :is-disabled="isFormProcessing"
            :is-autofocused="true"
            :error="formErrorMessages"
            :max-character="128"
            name="email"
            type="email"
            inputmode="email"
            label="Е-мейл"
            autocomplete="email"
            v-model:value="email"
          />
        </BaseForm>

        <div class="row">
          <div class="col s12">
            <p>
              У вас уже есть аккаунт?
              <router-link
                :to="{
                  name: 'sign-in',
                }"
              >
                Авторизоваться
              </router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import useVuelidate from "@vuelidate/core";
import { required, email, minLength, maxLength } from "@vuelidate/validators";
import asyncImport from "@/utils/helpers/async-import";

const BaseForm = asyncImport("BaseForm");
const BaseInput = asyncImport("BaseInput");

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;

export default {
  name: "RemindPasswordPage",

  components: {
    BaseForm,
    BaseInput,
  },

  setup() {
    return { v$: useVuelidate() };
  },

  data() {
    return {
      email: "",
    };
  },

  validations: {
    email: {
      required,
      email,
      minLength: minLength(EMAIL_MIN_LENGTH),
      maxLength: maxLength(EMAIL_MAX_LENGTH),
    },
  },

  computed: {
    ...mapState("auth/remind-password", {
      formErrors: (state) => state.errors,
      isFormProcessing: (state) => state.isProcessing,
    }),

    formErrorMessages() {
      const errors = [];

      if (!this.v$.email.$dirty) return errors;

      if (this.v$.email.required.$invalid)
        errors.push(this.$t("errors.email-is-required"));
      if (this.v$.email.email.$invalid)
        errors.push(this.$t("errors.email-must-be-valid"));
      if (this.v$.email.minLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-min-length", {
            length: this.v$.email.minLength.$params.min,
          })
        );
      }
      if (this.v$.email.maxLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-max-length", {
            length: this.v$.email.maxLength.$params.max,
          })
        );
      }

      if (this.formErrors.indexOf("user-not-found") > -1)
        errors.push(this.$t("errors.user-not-found"));
      if (this.formErrors.indexOf("user-disabled") > -1)
        errors.push(this.$t("errors.user-disabled"));
      if (this.formErrors.indexOf("invalid-email") > -1)
        errors.push(this.$t("errors.invalid-email"));
      if (this.formErrors.indexOf("operation-not-allowed") > -1)
        errors.push(this.$t("errors.operation-not-allowed"));
      if (this.formErrors.indexOf("network-request-failed") > -1)
        errors.push(this.$t("errors.network-request-failed"));
      if (this.formErrors.indexOf("missing-continue-uri") > -1)
        errors.push(this.$t("errors.unknown-error"));
      if (this.formErrors.indexOf("invalid-continue-uri") > -1)
        errors.push(this.$t("errors.unknown-error"));
      if (this.formErrors.indexOf("unauthorized-continue-uri") > -1)
        errors.push(this.$t("errors.unknown-error"));
      if (this.formErrors.indexOf("unknown-error") > -1)
        errors.push(this.$t("errors.unknown-error"));

      return errors;
    },
  },

  methods: {
    ...mapActions("auth/remind-password", {
      sendPasswordResetLink: "SEND_PASSWORD_RESET_LINK",
    }),

    ...mapMutations("auth/remind-password", {
      clearError: "CLEAR_ERROR",
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.sendPasswordResetLink(this.email).then((response) => {
          if (response) {
            this.email = "";

            this.$router.push({
              name: "home",
            });

            this.$_materialize.toast({
              html: "Ссылка для сброса пароля успешно отправлена",
              classes: "rounded teal accent-4",
            });
          }
        });
      }
    },

    handleInput(key) {
      this.clearError(key);
      this.v$[key].$reset();
    },
  },
};
</script>

<style lang="scss">
.page_remind-password {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
