<template>
  <div class="welcome">
    <div class="welcome-card">
      <AppNotification :is-danger="true" v-if="generalErrorMessages.length > 0">
        <i18n-t
          v-for="(item, key) in generalErrorMessages"
          :keypath="item"
          :key="key"
          tag="p"
        >
          <router-link :to="{ name: 'remind-password' }">
            {{ $t("errors.request-code-again") }}
          </router-link>
        </i18n-t>
      </AppNotification>

      <div class="card-panel" v-else>
        <BaseForm
          :is-loading="isFormProcessing"
          title="Восстановить пароль"
          submit-btn-title="Восстановить пароль"
          @submit="submitForm"
        >
          <BaseInput
            v-if="resettingPasswordEmail"
            :is-disabled="true"
            :is-autofocused="false"
            :error="emailErrorMessages[0]"
            :label="$t('form.email.label')"
            name="email"
            type="email"
            v-model:value="resettingPasswordEmail"
          />

          <BaseInput
            :is-disabled="isFormProcessing"
            :is-autofocused="true"
            :error="passwordErrorMessages[0]"
            :label="$t('form.new-password.label')"
            :max-character="32"
            type="password"
            name="new-password"
            autocomplete="new-password"
            v-model:value="password"
          />

          <BaseInput
            :is-disabled="isFormProcessing"
            :error="passwordConfirmErrorMessages[0]"
            :label="$t('form.new-password-confirm.label')"
            :max-character="32"
            type="password"
            name="confirm_newpassword"
            autocomplete="new-password"
            v-model:value="passwordConfirm"
          />

          <AppNotification
            v-if="formErrorMessages.length > 0"
            :is-danger="true"
          >
            <p v-for="(item, key) in formErrorMessages" :key="key">
              {{ item }}
            </p>
          </AppNotification>
        </BaseForm>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import useVuelidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import asyncImport from "@/utils/helpers/async-import";

const AppNotification = asyncImport("AppNotification");
const BaseForm = asyncImport("BaseForm");
const BaseInput = asyncImport("BaseInput");

const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: "ResetPasswordPage",

  props: {
    code: {
      type: String,
      required: true,
    },
  },

  setup() {
    return { v$: useVuelidate() };
  },

  components: {
    AppNotification,
    BaseForm,
    BaseInput,
  },

  data() {
    return {
      password: "",
      passwordConfirm: "",
    };
  },

  validations: {
    password: {
      required,
      minLength: minLength(PASSWORD_MIN_LENGTH),
      maxLength: maxLength(PASSWORD_MAX_LENGTH),
    },
    // passwordConfirm: {
    //   required,
    //   sameAsPassword: sameAs('password'),
    // },
  },

  computed: {
    ...mapState("auth/reset-password", {
      formErrors: (state) => state.errors,
      isFormProcessing: (state) => state.isProcessing,
      resettingPasswordEmail: (state) => state.resettingPasswordEmail,
    }),

    emailErrorMessages() {
      const errors = [];

      if (this.formErrors.indexOf("user-disabled") > -1)
        errors.push(this.$t("errors.user-disabled"));

      if (this.formErrors.indexOf("user-not-found") > -1)
        errors.push(this.$t("errors.user-not-found"));

      return errors;
    },

    passwordErrorMessages() {
      const errors = [];

      if (!this.v$.password.$dirty) return errors;
      if (this.v$.password.required.$invalid)
        errors.push(this.$t("errors.password-is-required"));
      if (this.v$.password.minLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-min-length", {
            length: this.v$.password.minLength.$params.min,
          })
        );
      }
      if (this.v$.password.maxLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-max-length", {
            length: this.v$.password.maxLength.$params.max,
          })
        );
      }

      if (this.formErrors.indexOf("weak-password") > -1)
        errors.push(this.$t("errors.weak-password"));

      return errors;
    },

    passwordConfirmErrorMessages() {
      const errors = [];

      // if (!this.v$.passwordConfirm.$dirty) return errors;
      // if (!this.v$.passwordConfirm.sameAsPassword) errors.push(this.$t('errors.passwords-must-be-equal'));
      if (
        this.password !== "" &&
        this.passwordConfirm !== "" &&
        this.password !== this.passwordConfirm
      )
        errors.push(this.$t("errors.passwords-must-be-equal"));

      return errors;
    },

    formErrorMessages() {
      const errors = [];

      if (this.formErrors.indexOf("network-request-failed") > -1)
        errors.push(this.$t("errors.network-request-failed"));

      if (this.formErrors.indexOf("argument-error") > -1)
        errors.push(this.$t("errors.argument-error"));

      return errors;
    },

    generalErrorMessages() {
      const errors = [];

      if (this.formErrors.indexOf("expired-action-code") > -1)
        errors.push("errors.expired-action-code");

      if (this.formErrors.indexOf("invalid-action-code") > -1)
        errors.push("errors.invalid-action-code");

      if (this.formErrors.indexOf("unknown-error") > -1)
        errors.push(this.$t("errors.unknown-error"));

      return errors;
    },
  },

  methods: {
    ...mapActions("auth/reset-password", {
      checkPasswordResetCode: "CHECK_PASSWORD_RESET_CODE",
      saveNewPassword: "SAVE_NEW_PASSWORD",
    }),

    ...mapMutations("auth/reset-password", {
      clearResetPasswordFormErrors: "CLEAR_ALL_ERRORS",
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.saveNewPassword({
          code: this.code,
          password: this.password,
        }).then((response) => {
          if (response) {
            this.$router.push({
              name: "home",
            });

            this.$_materialize.toast({
              html: "Ваш пароль успешно изменен",
              classes: "rounded teal accent-4",
            });
          }
        });
      }
    },

    clearError(key) {
      this.clearResetPasswordFormErrors();
      this.v$[key].$reset();
    },
  },

  created() {
    this.checkPasswordResetCode(this.code);
  },
};
</script>

<style lang="scss">
.page_reset-password {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
