<template>
  <div class="welcome">
    <div class="welcome-card">
      <div class="card-panel">
        <FormSignUp />
      </div>
    </div>
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const FormSignUp = asyncImport("FormSignUp");

export default {
  name: "SignUpPage",

  components: {
    FormSignUp,
  },
};
</script>

<style lang="scss">
.page_sign-up {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
