<template>
  <div class="welcome">
    <div class="welcome-card">
      <div class="card-panel">
        <FormSignIn />
      </div>
    </div>
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const FormSignIn = asyncImport("FormSignIn");

export default {
  name: "SignInPage",

  components: {
    FormSignIn,
  },
};
</script>

<style lang="scss">
.page_sign-in {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
