<template>
  <div class="welcome">
    <div class="welcome-card">
      <div
        class="preloader-wrapper big active"
        v-if="!formErrorsMessages.length"
      >
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <p v-if="!formErrorsMessages.length && !isEmailVerifiedSuccessfully">
        Подтверждаем электронную почту...
      </p>

      <p v-if="!formErrorsMessages.length && isEmailVerifiedSuccessfully">
        Электронная почта подтверждена, перенаправляем...
      </p>

      <AppNotification :is-danger="true" v-if="formErrorsMessages.length">
        <p v-for="(item, key) in formErrorsMessages" :key="key">
          {{ item }}
        </p>
      </AppNotification>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const AppNotification = asyncImport("AppNotification");

export default {
  name: "VerifyEmailPage",

  components: {
    AppNotification,
  },

  props: {
    code: {
      type: String,
      required: true,
    },
  },

  computed: {
    ...mapState("auth/email-verification", {
      formErrors: (state) => state.errors,
      isEmailVerifiedSuccessfully: (state) => state.isSuccess,
    }),

    formErrorsMessages() {
      const errors = {
        "network-request-failed": "Нет подключения к сети",
        "expired-action-code": "Код подтверждения просрочен",
        "invalid-action-code":
          "Код подтверждения поврежден или уже использовался",
        "user-disabled": "Пользователь заблокирован",
        "user-not-found": "Пользователь не найден",
      };

      return this.formErrors.map((item) => {
        if (!errors[item]) {
          console.error(item);

          return "Неизвестная ошибка! Повторите позднее. Нашим разработчикам уже отправлен рапорт об этой ошибке...";
        }

        return errors[item];
      });
    },
  },

  methods: {
    ...mapActions("auth/email-verification", {
      verifyEmail: "VERIFY_EMAIL",
    }),
  },

  mounted() {
    if (this.$_user && this.$_user.isEmailVerified) {
      this.$router.push({
        name: "dashboard",
      });

      this.$_materialize.toast({
        html: "Ваша электронная почта уже подтверждена!",
        classes: "rounded teal accent-4",
      });
    } else {
      this.verifyEmail(this.code).then((response) => {
        if (response) {
          if (this.$_user) {
            if (this.$_user.isAdmin) {
              this.$router.push({
                name: "admin-dashboard",
              });
            } else {
              this.$router.push({
                name: "dashboard",
              });
            }
          } else {
            this.$router.push({
              name: "home",
            });
          }

          this.$_materialize.toast({
            html: "Ваша электронная почта успешно подтверждена!",
            classes: "rounded teal accent-4",
          });
        }
      });
    }
  },
};
</script>

<style lang="scss">
.page_verify-email {
  .welcome-card {
    min-width: auto;
  }

  .card-panel {
    width: 450px;
  }
}
</style>
