<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Загрузка | Rubus</title>
    <style>
      .splash {
        display: flex;
        background-color: #f4f2f2;
        color: #070624;
        height: 100vh;
        width: 100vw;
      }

      .splash p {
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>К сожалению, Rubus не работает должным образом без включенного JavaScript. Пожалуйста, включите его для продолжения.</strong>
    </noscript>

    <div id="app">
      <div class="splash">
        <p>Загрузка приложения...</p>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
