.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }
  
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.slidedown { 
  &-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
  }

  &-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  &-enter-to,
  &-leave-from {
    max-height: 500px;
  }

  &-enter-from,
  &-leave-to {
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@keyframes caramel {
  0% {
      background-position: 0 0
  }

  to {
      background-position: 20px 0
  }
}