@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/Segoe-UI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/Segoe-UI-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/Segoe-UI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
