
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-vk:before {
  content: "\e905";
}
.icon-whatsapp:before {
  content: "\e906";
}
