<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import throttle from "lodash.throttle";
import DefaultLayout from "@/views/layouts/default";
import LightLayout from "@/views/layouts/light";

export default {
  name: "App",

  data() {
    return {
      screenWidth: 0,
      device: null,
    };
  },

  computed: {
    ...mapState("ui", ["isSidenavActiveOnMobile"]),

    layout() {
      const layoutType = this.$route.meta && this.$route.meta.layout;

      return layoutType === "light" ? LightLayout : DefaultLayout;
    },
  },

  methods: {
    ...mapMutations("ui", { hideSidenavOnMobile: "HIDE_SIDENAV_ON_MOBILE" }),

    resize() {
      this.throttledResizer();
    },

    setScreenWidth() {
      this.screenWidth = window.innerWidth;

      if (this.screenWidth <= 600) {
        this.device = "mobile";
      } else if (this.screenWidth > 600 && this.screenWidth <= 992) {
        this.device = "tablet";
      } else if (this.screenWidth > 992 && this.screenWidth <= 1200) {
        this.device = "desktop";
      } else if (this.screenWidth > 1200) {
        this.device = "widescreen";
      }

      if (this.screenWidth > 992) {
        this.hideSidenavOnMobile();
      }
    },
  },

  created() {
    this.setScreenWidth();

    window.addEventListener("resize", this.resize);

    this.throttledResizer = throttle(() => {
      this.setScreenWidth();
    }, 300);
  },

  watch: {
    isSidenavActiveOnMobile(value) {
      if (value) {
        document.body.style.overflow = "hidden";
      } else {
        document.body.style.overflow = "visible";
      }
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/icons.scss";
@import "@/assets/fonts.scss";
@import "@/assets/animations.scss";
@import "@/assets/materialize-vars.scss";
@import "node_modules/materialize-css/sass/materialize.scss";

body {
  color: #070624;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
}

.status {
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 0.75rem;

  &.new {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
  }

  &.success {
    background-color: #23d160;
    color: #fff;
  }

  &.declined {
    background-color: #f14668;
    color: #fff;
  }

  &.pending {
    background-color: #ffe08a;
    color: rgba(0, 0, 0, 0.7);
  }
}

.pseudo-table {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  line-height: 2.25rem;
  font-size: 1rem;
  background-color: inherit;
  max-width: 80%;

  @media screen and (max-width: 992px) {
    max-width: 90%;
  }

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }

  &::after {
    content: ".......................................................................................................................................................................................................................................................................................................";
    position: absolute;
    left: 50px;
  }

  & > span {
    z-index: 1;
    position: relative;
    background-color: inherit;

    &:first-child {
      padding: 0 0.5rem 0 2rem;

      @media screen and (max-width: 768px) {
        padding: 0 0.5rem 0 0;
      }
    }

    &:last-child {
      padding: 0 2rem 0 0.5rem;

      @media screen and (max-width: 768px) {
        padding: 0 0 0 0.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-align: right;
        max-width: 60%;
      }
    }
  }
}

.operations-card {
  margin: 0.5rem 0 1rem 0;

  .btn {
    margin: 0 0 1rem;
    background-color: #f4f2f2;
    color: #070624;
  }
}

.card-panel {
  position: relative;

  p {
    margin-top: 0;
  }

  h5 {
    margin: 0;
  }
}

.reflink-copy {
  position: absolute;
  top: 24px;
  right: 24px;
}

.welcome {
  display: flex;
  height: 100vh;

  &-card {
    margin: auto;
    min-width: 60%;
  }
}
</style>
