<template>
  <EmailVerifyNotification v-if="$_user && !$_user.isEmailVerified" />

  <AppHeader :class="{ fullsized: isSidenavInactiveOnDesktop }" />

  <main :class="{ fullsized: isSidenavInactiveOnDesktop }">
    <div class="container">
      <!-- <app-breadcrumb v-if="$route.name !== 'home'" /> -->

      <div class="row">
        <div class="col s12">
          <slot />
        </div>
      </div>
    </div>
  </main>

  <AppFooter :class="{ fullsized: isSidenavInactiveOnDesktop }" />

  <AppSidebarOverlay />

  <StatusBar />
</template>

<script>
import { mapState } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const AppHeader = asyncImport("AppHeader");
const AppFooter = asyncImport("AppFooter");
const AppSidebarOverlay = asyncImport("AppSidebarOverlay");
const StatusBar = asyncImport("StatusBar");
const EmailVerifyNotification = asyncImport("EmailVerifyNotification");
// const AppBreadcrumb = asyncImport("AppBreadcrumb");

export default {
  name: "DefaultLayout",

  components: {
    AppHeader,
    AppFooter,
    AppSidebarOverlay,
    StatusBar,
    EmailVerifyNotification,
    // AppBreadcrumb,
  },

  computed: {
    ...mapState("ui", ["isSidenavInactiveOnDesktop"]),
  },
};
</script>

<style lang="scss">
header,
main,
footer {
  padding-left: 300px;
  transition: padding 0.5s ease;

  &.fullsized {
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
</style>
