<template>
  <slot />

  <StatusBar />
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const StatusBar = asyncImport("StatusBar");

export default {
  name: "LightLayout",

  components: {
    StatusBar,
  },

  data() {
    return {
      mode: "light",
    };
  },
};
</script>
