<template>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l4">
          <p>ТОО: <b>Turan Education</b></p>
          <p>
            A25T0T7, Республика Казахстан, г. Алматы, мкр. Горный Гигант ул.
            Иванилова, д. 52Б
          </p>
        </div>
        <div class="col s12 m6 l4">
          <p>АО «Kaspi Bank»</p>
          <p>БИК CASPKZKA</p>
          <p>БИН 210140032410</p>
          <p>IBAN KZ26722S000008478144</p>
        </div>
        <div class="col s12 m6 l4">
          <p><a href="#">Политика конфиденциальности</a></p>
          <p><a href="#">Договор оферты</a></p>
          <p>
            <a href="mailto:uprofi.academy@gmail.com" class="bold">
              uprofi.academy@gmail.com
            </a>
          </p>
          <p>
            <a href="tel:+77012181316" class="bold">+7 701 218 1316</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 social-icon">
          <a href="" class="icon-facebook"></a>
          <a href="" class="icon-vk"></a>
          <a href="" class="icon-instagram"></a>
          <a href="" class="icon-twitter"></a>
          <a href="" class="icon-whatsapp"></a>
          <a href="" class="icon-telegram"></a>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
@import "@/assets/materialize-vars.scss";

footer.page-footer {
  background-color: $tertiary-color;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 50px;

  .row:last-child {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .social-icon {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 10px 0 0;
      border: 1px solid #fefefe;
      width: 30px;
      height: 30px;
      border-radius: 2px;
      color: inherit;
    }
  }
}
</style>
