<template>
  <header class="-app-header">
    <AppNavbar />
    <AppSidebar />
  </header>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const AppSidebar = asyncImport("AppSidebar");
const AppNavbar = asyncImport("AppNavbar");

export default {
  name: "AppHeader",

  components: {
    AppSidebar,
    AppNavbar,
  },
};
</script>

<style lang="scss">
.-app-header {
  margin-top: var(--email-verify-notification-height);
}
</style>
