<template>
  <div
    :class="[
      'card -app-notification',
      { '-app-notification_danger': isDanger },
      { '-app-notification_warning': isWarning },
      { '-app-notification_success': isSuccess },
    ]"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: "AppNotification",

  props: {
    isDanger: {
      type: Boolean,
      default: false,
    },

    isWarning: {
      type: Boolean,
      default: false,
    },

    isSuccess: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
.-app-notification {
  padding: 1rem;
  background-color: #cfd8dc;
  border-radius: 4px;

  &_danger {
    background-color: #c62828;
    color: #fff;
  }

  &_warning {
    background-color: #ffab00;
  }

  &_success {
    background-color: #00c853;
  }

  &_no-border {
    border-radius: 0;
  }
}
</style>
