<template>
  <nav class="rubus-nav">
    <div class="nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 class="header">{{ $route.meta.pageTitle }}</h3>
          </div>
        </div>
      </div>
      <a
        href="#"
        class="rubus-sidenav-trigger"
        @click.prevent="toggleSidenavOnMobile"
      >
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  methods: {
    ...mapMutations("ui", {
      toggleSidenavOnMobile: "TOGGLE_SIDENAV_ON_MOBILE",
    }),
  },
};
</script>

<style lang="scss">
@import "@/assets/materialize-vars.scss";

nav.rubus-nav {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: transparent;
  height: auto;
  line-height: 1;

  .nav-wrapper {
    .row {
      margin: 0;
    }

    .header {
      color: #070624;
      padding: 2rem 2rem 2rem 0;
      margin: 0;
    }

    a {
      color: $primary-color;
    }

    .rubus-sidenav-trigger {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      margin: 0 18px;

      i {
        margin: auto;
        height: auto;
        line-height: initial;
      }

      @media only screen and (min-width: 993px) {
        display: none;
      }
    }
  }
}
</style>
