<template>
  <transition name="fade">
    <div
      v-if="isSidenavActiveOnMobile"
      class="rubus-sidebar-overlay"
      @click="toggleSidenavOnMobile"
    ></div>
  </transition>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  computed: {
    ...mapState("ui", ["isSidenavActiveOnMobile"]),
  },

  methods: {
    ...mapMutations("ui", {
      toggleSidenavOnMobile: "TOGGLE_SIDENAV_ON_MOBILE",
    }),
  },
};
</script>

<style lang="scss">
.rubus-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
}
</style>
