<template>
  <ul
    :class="[
      'sidenav sidenav-fixed -app-sidenav',
      { '-app-sidenav_slided_right': isSidenavActiveOnMobile },
      { '-app-sidenav_slided_left': isSidenavInactiveOnDesktop },
    ]"
  >
    <li class="logo">
      <router-link :to="{ name: 'home' }" class="brand-logo">
        Rubus
      </router-link>
    </li>

    <li v-for="route in routes" :key="route.name">
      <router-link :to="{ name: route.name }">
        <i class="material-icons left">{{ route.meta.icon }}</i>
        {{ route.meta.metaTitle }}
      </router-link>
    </li>

    <li>
      <a href="#" @click.prevent="handleSignOut">
        <i class="material-icons left">exit_to_app</i>
        Выход
      </a>
    </li>

    <li class="-app-sidenav__toggler">
      <a href="#" @click.prevent="toggleSidenavOnDesktop">
        <i class="material-icons left">keyboard_arrow_left</i>
      </a>
    </li>
  </ul>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "AppSidebar",

  computed: {
    ...mapState("ui", [
      "isSidenavActiveOnMobile",
      "isSidenavInactiveOnDesktop",
    ]),

    routes() {
      return this.$router.options.routes.filter((route) => {
        return route.meta.isShownInMenu;
      });
    },
  },

  methods: {
    ...mapActions("auth", {
      signOut: "SIGN_OUT",
    }),

    ...mapMutations("ui", {
      toggleSidenavOnDesktop: "TOGGLE_SIDENAV_ON_DESKTOP",
    }),

    handleSignOut() {
      this.signOut().then(() => {
        this.$router.push({
          name: "home",
        });
      });
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/materialize-vars.scss";

.-app-sidenav {
  &.sidenav {
    transition: 0.3s transform ease;
    margin-top: var(--email-verify-notification-height);
    overflow-y: unset;

    li {
      line-height: 60px;

      & > a {
        height: 60px;
        line-height: 60px;

        .material-icons {
          height: 60px;
          line-height: 60px;
          margin: 0 8px 0 0;
          color: inherit;
        }
      }
    }

    .logo {
      text-align: center;
      margin: 32px 0;
    }

    .brand-logo {
      width: 140px;
      height: 140px;
      text-align: center;
      line-height: 140px;
      padding: 0;
      position: relative;
      white-space: nowrap;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      color: #fefefe;
      font-weight: bold;
      font-size: 32px;

      &:hover {
        background-color: transparent;
        box-shadow: 0 0 4px rgb(0 0 0 / 30%);
      }

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: -1;
      }
    }

    &.-app-sidenav_slided_left {
      transform: translateX(-100%);

      .-app-sidenav__toggler {
        .material-icons {
          transform: rotate(180deg);
        }
      }
    }

    &.-app-sidenav_slided_right {
      transform: translateX(0%);
    }

    .router-link-active {
      background-color: $primary-color;
      color: #fff;
    }
  }

  li.-app-sidenav__toggler {
    position: absolute;
    background-color: $primary-color;
    border-radius: 0 5px 5px 0;
    width: 24px;
    height: 70px;
    left: 100%;
    top: 50vh;
    transform: translateY(-50%);

    @media only screen and (max-width: 992px) {
      display: none;
    }

    & > a {
      height: 70px;
      width: 24px;
      padding: 0;
      line-height: 70px;
      margin: 0;
      color: #fff;

      .material-icons {
        height: 70px;
        margin: 0;
        line-height: 70px;
        padding: 0;
        transition: 0.3s transform ease;
      }
    }
  }
}
</style>
