<template>
  <table class="highlight">
    <AppTableHeader :cols="cols" />

    <AppTableLoading v-if="isLoading" :colspan="cols.length" />

    <AppTableHasNotData v-else-if="hasNotData" :colspan="cols.length" />

    <AppTableHasError v-else-if="hasError" :colspan="cols.length" />

    <AppTableBody
      v-else
      :rows="rows"
      :colspan="cols.length"
      :row-items="rowItems"
      :detail-items="detailItems"
    />
  </table>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const AppTableHeader = asyncImport("AppTableHeader");
const AppTableLoading = asyncImport("AppTableLoading");
const AppTableHasNotData = asyncImport("AppTableHasNotData");
const AppTableHasError = asyncImport("AppTableHasError");
const AppTableBody = asyncImport("AppTableBody");

export default {
  name: "AppTable",

  components: {
    AppTableHeader,
    AppTableLoading,
    AppTableHasNotData,
    AppTableHasError,
    AppTableBody,
  },

  props: {
    cols: {
      type: Array,
      required: true,
    },

    rows: {
      type: Array,
      required: true,
    },

    rowItems: {
      type: Array,
      required: true,
    },

    detailItems: {
      type: Array,
      required: true,
    },

    isFetching: {
      type: Boolean,
      default: false,
    },

    hasFetchingError: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    isLoading() {
      return (
        this.isFetching && !this.hasFetchingError && this.rows.length === 0
      );
    },

    hasNotData() {
      return (
        !this.isFetching && !this.hasFetchingError && this.rows.length === 0
      );
    },

    hasError() {
      return (
        !this.isFetching && this.hasFetchingError && this.rows.length === 0
      );
    },
  },
};
</script>

<style lang="scss">
table.highlight {
  & > tbody.loading,
  & > tbody.no-data {
    tr:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    td {
      cursor: auto;
      padding: 4rem 0;
      text-align: center;
    }
  }
}

table td:not(.details) {
  cursor: pointer;
}

tr.details {
  border-bottom: none;

  td {
    padding: 0;

    .details-container {
      overflow: hidden;
      margin: 0 auto;
      max-width: 900px;
      padding: 2rem;
      background-color: #fafafa;
    }
  }
}
</style>
