<template>
  <tbody class="no-data">
    <tr>
      <td :colspan="colspan">
        <p><i class="material-icons">sentiment_very_dissatisfied</i></p>
        <p>У Вас нет данных для отображения, пора браться за дело</p>
      </td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "AppTableHasNotData",

  props: {
    colspan: {
      type: Number,
      default: 1,
    },
  },
};
</script>
