<template>
  <tbody>
    <template v-for="row in rows" :key="row.id">
      <tr @click="toggleDetails(row.id)">
        <template v-for="(rowItem, key) in rowItems" :key="key">
          <td
            v-if="rowItem.filter === 'no-filter'"
            v-html="row[rowItem.data]"
          />

          <td
            v-else-if="rowItem.data == '_row'"
            v-html="$_filters[rowItem.filter](row)"
          />

          <td v-else v-html="$_filters[rowItem.filter](row[rowItem.data])" />
        </template>
      </tr>

      <tr class="details">
        <td :colspan="colspan">
          <transition name="slidedown">
            <div class="details-container" v-if="openedRows.includes(row.id)">
              <template v-for="(detailItem, key) in detailItems" :key="key">
                <p class="pseudo-table">
                  <span>{{ detailItem.title }}:</span>

                  <span
                    v-if="detailItem.filter === 'no-filter'"
                    v-html="row[detailItem.data]"
                  />

                  <span
                    v-else-if="detailItem.data == '_row'"
                    v-html="$_filters[detailItem.filter](row)"
                  />

                  <span
                    v-else
                    v-html="$_filters[detailItem.filter](row[detailItem.data])"
                  />
                </p>
              </template>
            </div>
          </transition>
        </td>
      </tr>
    </template>
  </tbody>
</template>

<script>
export default {
  name: "AppTableBody",

  props: {
    rows: {
      type: Array,
      required: true,
    },

    rowItems: {
      type: Array,
      required: true,
    },

    detailItems: {
      type: Array,
      required: true,
    },

    colspan: {
      type: Number,
      default: 1,
    },
  },

  data() {
    return {
      openedRows: [],
    };
  },

  methods: {
    toggleDetails(id) {
      const index = this.openedRows.indexOf(id);

      if (index > -1) {
        this.openedRows.splice(index, 1);
      } else {
        this.openedRows.push(id);
      }
    },
  },
};
</script>
