<template>
  <thead>
    <tr>
      <th v-for="col in cols" :key="col">{{ col }}</th>
    </tr>
  </thead>
</template>

<script>
export default {
  name: "AppTableHeader",

  props: {
    cols: {
      type: Array,
      required: true,
    },
  },
};
</script>
