<template>
  <tbody class="no-data">
    <tr>
      <td :colspan="colspan">
        <p><i class="material-icons">sentiment_very_dissatisfied</i></p>
        <p>Ошибка загрузки данных!</p>
        <p>Нашим разработчикам уже отправлен рапорт об этой ошибке...</p>
      </td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "AppTableHasError",

  props: {
    colspan: {
      type: Number,
      default: 1,
    },
  },
};
</script>
