<template>
  <tbody class="loading">
    <tr>
      <td :colspan="colspan">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <p>Загрузка данных...</p>
      </td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "AppTableLoading",

  props: {
    colspan: {
      type: Number,
      default: 1,
    },
  },
};
</script>
