<template>
  <div class="row">
    <div class="col s12">
      <div :class="['input-field -base-input', { '-loading': isLoading }]">
        <i v-if="icon" class="material-icons prefix">{{ icon }}</i>

        <input
          :name="name"
          :type="type"
          :value="value"
          :disabled="isLoading || isDisabled"
          :class="{ invalid: hasError }"
          :autofocus="isAutofocused"
          :autocomplete="autocomplete"
          @input="$emit('update:value', $event.target.value)"
        />

        <label :for="name" :class="{ active: value }">{{ label }}</label>

        <span
          v-if="maxCharacter > 0"
          :class="[
            'character-counter',
            { 'red-text': maxCharacter < value.length },
          ]"
        >
          {{ value.length }}/{{ maxCharacter }}
        </span>

        <template v-if="errors.length">
          <span
            v-for="error in errors"
            class="helper-text"
            :data-error="error"
            :key="error"
          ></span>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseInput",

  emits: ["update:value"],

  props: {
    icon: {
      type: String,
      required: false,
      default: "",
    },

    type: {
      type: String,
      required: false,
      default: "text",
    },

    label: {
      type: String,
      required: true,
    },

    errors: {
      type: Array,
      required: false,
      default: () => [],
    },

    value: {
      type: String,
      required: false,
      default: "",
    },

    isLoading: {
      type: Boolean,
      default: false,
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    isAutofocused: {
      type: Boolean,
      default: false,
    },

    maxCharacter: {
      type: Number,
      default: 0,
    },

    name: {
      type: String,
      default: "name",
    },

    autocomplete: {
      type: [String, null],
      default: null,
    },
  },

  computed: {
    hasError() {
      return (
        this.errors.length ||
        (this.maxCharacter && this.maxCharacter < this.value.length)
      );
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/animations.scss";

.-base-input {
  input {
    position: relative;
    z-index: 1;
  }

  &.-loading::before {
    content: "";
    position: absolute;
    top: 4px;
    height: calc(3rem - 4px);
    right: 0;
    left: 0;
    animation: caramel 0.5s linear infinite;
    background-image: url("~@/assets/img/loader__caramel.png");
  }

  .character-counter {
    float: right;
    font-size: 12px;
  }
}
</style>
