<template>
  <form @submit.prevent="$emit('submit')" class="-base-form">
    <div class="row" v-if="title">
      <div class="col s12">
        <h5>{{ title }}</h5>
      </div>
    </div>

    <slot />

    <div class="row">
      <div class="input-field col 12">
        <button
          type="submit"
          :class="[
            'waves-effect waves-light btn btn-large',
            { 'disabled -loading': isLoading },
          ]"
        >
          <span>{{ submitBtnTitle }}</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <slot name="footer" />
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: "BaseForm",

  props: {
    title: {
      type: String,
      required: false,
      default: "",
    },

    submitBtnTitle: {
      type: String,
      required: false,
      default: "",
    },

    isLoading: {
      type: Boolean,
      default: false,
    },
  },

  emits: ["submit"],
};
</script>

<style lang="scss">
@import "@/assets/animations.scss";

.-base-form {
  .btn[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .-loading::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: caramel 0.5s linear infinite;
    background-image: url("~@/assets/img/loader__caramel.png");
  }
}
</style>
