<template>
  <div class="row">
    <div class="col s12">
      <div class="-base-checkbox">
        <label>
          <input
            type="checkbox"
            :checked="value"
            :name="name"
            :disabled="isDisabled"
            :class="['filled-in', { invalid: errors.length }]"
            @input="$emit('update:value', $event.target.checked)"
          />

          <span v-if="label" v-html="label" />

          <slot />
        </label>

        <template v-if="errors.length">
          <span
            v-for="error in errors"
            class="-base-checkbox__error"
            :key="error"
          >
            {{ error }}
          </span>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseCheckbox",

  emits: ["update:value"],

  props: {
    label: {
      type: String,
      default: "",
    },

    errors: {
      type: Array,
      required: false,
      default: () => [],
    },

    value: {
      type: Boolean,
      required: false,
      default: false,
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    name: {
      type: String,
      default: "name",
    },
  },
};
</script>

<style lang="scss">
.-base-checkbox {
  input[type="checkbox"].filled-in.invalid + span:not(.lever)::after {
    border: 2px solid #f44336;
  }

  &__error {
    user-select: none;
    pointer-events: none;
    font-size: 12px;
    color: #f44336;
    padding-left: 35px;
    display: inline-block;
  }
}
</style>
