<template>
  <div class="col">
    <div class="card-panel">
      <p>{{ title }}</p>

      <div class="is-fetching" v-if="isFetching">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="has-error" v-else-if="hasFetchingError">
        <span>
          <i class="material-icons">sentiment_very_dissatisfied</i><br />
          Ошибка загрузки данных!
        </span>
      </div>

      <div v-else>
        <h5>{{ value }}</h5>

        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Заголовок",
    },

    value: {
      type: [String, Number],
      default: "Значение",
    },

    isFetching: {
      type: Boolean,
      default: false,
    },

    hasFetchingError: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/materialize-vars.scss";

.card-panel {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
  }

  p {
    border-bottom: 1px dashed rgb(214, 214, 214);
    padding-bottom: 14px;
  }

  .is-fetching,
  .has-error {
    text-align: center;
  }
}

.col {
  &:nth-child(1) {
    .card-panel::before {
      background-color: $primary-color;
    }
  }

  &:nth-child(2) {
    .card-panel::before {
      background-color: $secondary-color;
    }
  }

  &:nth-child(3) {
    .card-panel::before {
      background-color: $tertiary-color;
    }
  }

  &:nth-child(4) {
    .card-panel::before {
      background-color: #fff;
    }
  }
}
</style>
