<template>
  <div
    :class="[
      '-email-verify-notification',
      { 'amber accent-4': isCodeSended },
      { 'red accent-4': !isCodeSended },
    ]"
  >
    <p v-if="isCodeSended" class="-email-verify-notification__code-sended">
      На Вашу электронную почту отправлена ссылка, пройдите по этой ссылке для
      подтверждения е-мейла.
    </p>

    <p v-if="!isCodeSended" class="-email-verify-notification__code-not-sended">
      Ваша электронная почта не подтверждена, некоторые функции будут
      недоступны.
    </p>

    <button
      v-if="!isCodeSended"
      type="button"
      class="waves-effect waves-light btn btn-small light-blue darken-4 right"
      :disabled="isFormProcessing"
      @click.prevent="sendEmailVerificationCode"
    >
      <div class="preloader-wrapper active" v-if="isFormProcessing">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <span>Подтвердить</span>
    </button>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "EmailVerifyNotification",

  computed: {
    ...mapState("auth/email-verification", {
      formErrors: (state) => state.errors,
      isFormProcessing: (state) => state.isProcessing,
      isCodeSended: (state) => state.isCodeSended,
    }),
  },

  methods: {
    ...mapActions("auth/email-verification", {
      sendEmailVerificationCode: "SEND_EMAIL_VERIFICATION_CODE",
    }),

    setCSSVar() {
      document.documentElement.style.setProperty(
        "--email-verify-notification-height",
        this.$el.offsetHeight + "px"
      );
    },

    sendCode() {
      this.sendEmailVerificationCode().then((res) => {
        console.log("res:", res);
        this.setCSSVar();
      });
    },
  },

  mounted() {
    this.setCSSVar();
  },

  created() {
    window.addEventListener("resize", this.setCSSVar);
  },

  unmounted() {
    window.removeEventListener("resize", this.setCSSVar);
    this.setCSSVar();
  },
};
</script>

<style lang="scss">
.-email-verify-notification {
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__code-sended {
    margin: 0;
  }

  &__code-not-sended {
    margin: 0;
    color: #fff;
  }

  .btn {
    min-width: 170px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .preloader-wrapper {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
</style>
