<template>
  <BaseForm
    :is-loading="isFormProcessing"
    title="Регистрация"
    submit-btn-title="Регистрация"
    @submit="submitForm"
  >
    <BaseInput
      :is-disabled="isFormProcessing"
      :errors="emailErrorMessages"
      :max-character="128"
      :is-autofocused="true"
      type="email"
      name="email"
      label="Е-мейл"
      v-model:value="email"
      @input="resetValidation"
    />

    <BaseInput
      :is-disabled="isFormProcessing"
      :errors="newpasswordErrorMessages"
      :max-character="32"
      label="Пароль"
      type="password"
      name="newpassword"
      autocomplete="newpassword"
      v-model:value="newpassword"
      @input="resetValidation"
    />

    <BaseInput
      :is-disabled="isFormProcessing"
      :errors="newpasswordConfirmErrorMessages"
      :max-character="32"
      label="Повторите пароль"
      type="password"
      name="newpasswordConfirm"
      autocomplete="newpassword"
      v-model:value="newpasswordConfirm"
      @input="resetValidation"
    />

    <BaseInput
      v-if="recruiterId"
      :is-disabled="true"
      :is-loading="isRecruiterExistCheckProcessing"
      :errors="recruiterErrorMessages"
      type="text"
      name="recruiter"
      label="ID рекрутера"
      v-model:value="recruiterId"
    />

    <BaseCheckbox
      :is-disabled="isFormProcessing"
      :errors="isAgreeErrorMessages"
      name="agreement"
      v-model:value="isAgree"
    >
      <i18n-t keypath="form.agreement" tag="span">
        <template #document>
          <a href="/agreement.pdf" target="_blank">{{ $t("form.document") }}</a>
        </template>
      </i18n-t>
    </BaseCheckbox>

    <div class="row">
      <div class="col s12">
        <AppNotification v-if="formErrorsMessages.length" :is-danger="true">
          <ul v-if="formErrorsMessages.length > 1">
            <li
              v-for="(item, key) in formErrorsMessages"
              :key="key"
              v-html="item"
            />
          </ul>
          <span v-else v-html="formErrorsMessages[0]" />
        </AppNotification>
      </div>
    </div>
  </BaseForm>

  <div class="row">
    <div class="col s12">
      <p>
        У вас уже есть аккаунт?
        <router-link
          :to="{
            name: 'sign-in',
          }"
        >
          Авторизоваться
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import useVuelidate from "@vuelidate/core";
import {
  required,
  email,
  minLength,
  maxLength,
  sameAs,
} from "@vuelidate/validators";
import asyncImport from "@/utils/helpers/async-import";

const BaseForm = asyncImport("BaseForm");
const BaseInput = asyncImport("BaseInput");
const BaseCheckbox = asyncImport("BaseCheckbox");
const AppNotification = asyncImport("AppNotification");

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;
const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: "FormSignUp",

  setup() {
    return { v$: useVuelidate() };
  },

  components: {
    BaseForm,
    BaseInput,
    BaseCheckbox,
    AppNotification,
  },

  data() {
    return {
      email: "",
      newpassword: "",
      newpasswordConfirm: "",
      isAgree: false,
      isPasswordShowed: false,
      isPasswordConfirmShowed: false,
    };
  },

  validations() {
    return {
      email: {
        required,
        email,
        minLength: minLength(EMAIL_MIN_LENGTH),
        maxLength: maxLength(EMAIL_MAX_LENGTH),
      },

      newpassword: {
        required,
        minLength: minLength(PASSWORD_MIN_LENGTH),
        maxLength: maxLength(PASSWORD_MAX_LENGTH),
      },

      newpasswordConfirm: {
        required,
        sameAsPassword: sameAs(this.newpassword),
      },

      isAgree: {
        checked: (value) => value === true,
      },

      recruiterExistCheckingResult: {
        exist: (value) => {
          if (typeof value == "boolean" && !value) {
            return false;
          }

          return true;
        },
      },
    };
  },

  computed: {
    ...mapState("auth/sign-up", {
      formErrors: (state) => state.errors,
      isFormProcessing: (state) => state.isProcessing,
    }),

    ...mapState("user", {
      isRecruiterExistCheckProcessing: (state) =>
        state.isRecruiterExistCheckProcessing,
      recruiterExistCheckingResult: (state) =>
        state.recruiterExistCheckingResult,
      recruiterExistCheckingError: (state) => state.recruiterExistCheckingError,
    }),

    emailErrorMessages() {
      const errors = [];

      if (!this.v$.email.$dirty) return errors;

      if (this.v$.email.required.$invalid)
        errors.push(this.$t("errors.email-is-required"));

      if (this.v$.email.email.$invalid)
        errors.push(this.$t("errors.email-must-be-valid"));

      if (this.v$.email.minLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-min-length", {
            length: this.v$.email.minLength.$params.min,
          })
        );
      }

      if (this.v$.email.maxLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-max-length", {
            length: this.v$.email.maxLength.$params.max,
          })
        );
      }

      if (this.formErrors.indexOf("email-already-in-use") > -1)
        errors.push(this.$t("errors.email-already-in-use"));

      return errors;
    },

    newpasswordErrorMessages() {
      const errors = [];

      if (!this.v$.newpassword.$dirty) return errors;

      if (this.v$.newpassword.required.$invalid)
        errors.push(this.$t("errors.password-is-required"));

      if (this.v$.newpassword.minLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-min-length", {
            length: this.v$.newpassword.minLength.$params.min,
          })
        );
      }

      if (this.v$.newpassword.maxLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-max-length", {
            length: this.v$.newpassword.maxLength.$params.max,
          })
        );
      }

      return errors;
    },

    newpasswordConfirmErrorMessages() {
      const errors = [];

      if (!this.v$.newpasswordConfirm.$dirty) return errors;

      if (this.v$.newpassword.required.$invalid)
        errors.push(this.$t("errors.password-is-required"));

      if (this.v$.newpasswordConfirm.sameAsPassword.$invalid)
        errors.push(this.$t("errors.passwords-must-be-equal"));

      return errors;
    },

    isAgreeErrorMessages() {
      const errors = [];

      if (!this.v$.isAgree.$dirty) return errors;
      if (this.v$.isAgree.checked.$invalid)
        errors.push(this.$t("errors.you-must-agree-for-use-service"));

      return errors;
    },

    formErrorsMessages() {
      const errors = [];

      if (this.formErrors.indexOf("operation-not-allowed") > -1)
        errors.push(this.$t("errors.operation-not-allowed"));
      if (this.formErrors.indexOf("network-request-failed") > -1)
        errors.push(this.$t("errors.network-request-failed"));
      if (this.formErrors.indexOf("unknown-error") > -1)
        errors.push(this.$t("errors.unknown-error"));

      return errors;
    },

    recruiterErrorMessages() {
      const errors = [];

      if (!this.v$.recruiterExistCheckingResult.$dirty) return errors;
      if (this.v$.recruiterExistCheckingResult.exist.$invalid)
        errors.push(this.$t("errors.recruiter-does-not-exist"));

      return errors;
    },

    recruiterId() {
      return this.$route.query.ref || null;
    },
  },

  methods: {
    ...mapActions("auth/sign-up", {
      signUp: "SIGN_UP",
    }),

    ...mapActions("user", {
      isRecruiterExist: "IS_RECRUITER_EXIST",
    }),

    ...mapMutations("auth/sign-up", {
      clearFormErrors: "CLEAR_ALL_ERRORS",
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.signUp({
          email: this.email,
          password: this.newpassword,
          recruiterId: this.recruiterId,
        }).then((user) => {
          if (user) {
            this.$router.push({
              name: "dashboard",
            });

            this.clearFields();
          }
        });
      }
    },

    resetValidation(event) {
      this.clearFormErrors();
      this.v$[event.target.name].$reset();
    },

    clearFields() {
      this.v$.$reset();
      this.email = "";
      this.newpassword = "";
      this.newpasswordConfirm = "";
      this.isAgree = false;
    },
  },

  mounted() {
    if (this.recruiterId) {
      this.isRecruiterExist(this.recruiterId).then(() => {
        this.v$.recruiterExistCheckingResult.$touch();
      });
    }
  },
};
</script>
