<template>
  <BaseForm
    :is-loading="isFormProcessing"
    :title="title"
    submit-btn-title="Войти"
    @submit="submitForm"
  >
    <BaseInput
      :is-disabled="isFormProcessing"
      :errors="emailErrorMessages"
      :max-character="128"
      :is-autofocused="true"
      type="email"
      name="email"
      label="Е-мейл"
      v-model:value="email"
      @input="resetValidation"
    />

    <BaseInput
      :is-disabled="isFormProcessing"
      :errors="passwordErrorMessages"
      :max-character="32"
      type="password"
      name="password"
      label="Пароль"
      v-model:value="password"
      @input="resetValidation"
    />

    <div class="row">
      <div class="col s12">
        <AppNotification v-if="formErrorsMessages.length" :is-danger="true">
          <ul v-if="formErrorsMessages.length > 1">
            <li
              v-for="(item, key) in formErrorsMessages"
              :key="key"
              v-html="item"
            />
          </ul>
          <span v-else v-html="formErrorsMessages[0]" />
        </AppNotification>
      </div>
    </div>
  </BaseForm>

  <div class="row">
    <div class="col s12">
      <p>
        Не помните пароль?
        <router-link
          :to="{
            name: 'remind-password',
          }"
        >
          Сбросить
        </router-link>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p>
        У вас еще нет аккаунта?
        <router-link
          :to="{
            name: 'sign-up',
          }"
        >
          Зарегистрироваться
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import useVuelidate from "@vuelidate/core";
import { required, email, minLength, maxLength } from "@vuelidate/validators";
import asyncImport from "@/utils/helpers/async-import";

const BaseForm = asyncImport("BaseForm");
const BaseInput = asyncImport("BaseInput");
const AppNotification = asyncImport("AppNotification");

const EMAIL_MIN_LENGTH = 5;
const EMAIL_MAX_LENGTH = 128;
const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: "FormSignIn",

  props: {
    title: {
      type: String,
      default: "Авторизация",
    },
  },

  components: {
    BaseForm,
    BaseInput,
    AppNotification,
  },

  data() {
    return {
      email: "",
      password: "",
      isPasswordShowed: false,
      knownErrorsFromServer: [
        "invalid-email",
        "user-disabled",
        "user-not-found",
        "wrong-password",
        "network-request-failed",
        "argument-error",
      ],
    };
  },

  setup() {
    return { v$: useVuelidate() };
  },

  validations() {
    return {
      email: {
        required,
        email,
        minLength: minLength(EMAIL_MIN_LENGTH),
        maxLength: maxLength(EMAIL_MAX_LENGTH),
      },
      password: {
        required,
        minLength: minLength(PASSWORD_MIN_LENGTH),
        maxLength: maxLength(PASSWORD_MAX_LENGTH),
      },
    };
  },

  computed: {
    ...mapState("auth/sign-in", {
      formErrors: (state) => state.errors,
      isFormProcessing: (state) => state.isProcessing,
    }),

    emailErrorMessages() {
      const errors = [];

      if (!this.v$.email.$dirty) return errors;

      if (this.v$.email.required.$invalid)
        errors.push(this.$t("errors.email-is-required"));
      if (this.v$.email.email.$invalid)
        errors.push(this.$t("errors.email-must-be-valid"));
      if (this.v$.email.minLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-min-length", {
            length: this.v$.email.minLength.$params.min,
          })
        );
      }
      if (this.v$.email.maxLength.$invalid) {
        errors.push(
          this.$t("errors.email-must-be-max-length", {
            length: this.v$.email.maxLength.$params.max,
          })
        );
      }

      if (this.formErrors.indexOf("invalid-email") > -1)
        errors.push(this.$t("errors.invalid-email"));

      if (this.formErrors.indexOf("user-disabled") > -1)
        errors.push(this.$t("errors.user-disabled"));

      if (this.formErrors.indexOf("user-not-found") > -1)
        errors.push(this.$t("errors.user-not-found"));

      return errors;
    },

    passwordErrorMessages() {
      const errors = [];

      if (!this.v$.password.$dirty) return errors;

      if (this.v$.password.required.$invalid)
        errors.push(this.$t("errors.password-is-required"));

      if (this.v$.password.minLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-min-length", {
            length: this.v$.password.minLength.$params.min,
          })
        );
      }

      if (this.v$.password.maxLength.$invalid) {
        errors.push(
          this.$t("errors.password-must-be-max-length", {
            length: this.v$.password.maxLength.$params.max,
          })
        );
      }

      if (this.formErrors.indexOf("wrong-password") > -1)
        errors.push(this.$t("errors.wrong-password"));

      return errors;
    },

    formErrorsMessages() {
      const errors = [];

      if (this.formErrors.indexOf("network-request-failed") > -1)
        errors.push(this.$t("errors.network-request-failed"));

      if (this.formErrors.indexOf("argument-error") > -1)
        errors.push(this.$t("errors.argument-error"));

      if (
        this.formErrors.some(
          (item) => !this.knownErrorsFromServer.includes(item)
        )
      ) {
        errors.push(
          "Неизвестная ошибка, повторите позднее.<br> Нашим разработчикам уже отправлен рапорт об этой ошибке..."
        );

        // TODO: Add report for Sentry
        console.error(this.formErrors);
      }

      return errors;
    },

    passwordType() {
      return this.isPasswordShowed ? "text" : "password";
    },

    passwordShowerIcon() {
      return this.isPasswordShowed ? "m-0 fas fa-eye-slash" : "m-0 fas fa-eye";
    },
  },

  methods: {
    ...mapActions("auth/sign-in", {
      signIn: "SIGN_IN",
    }),

    ...mapMutations("auth/sign-in", {
      clearFormErrors: "CLEAR_ALL_ERRORS",
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.signIn({
          email: this.email,
          password: this.password,
        }).then((user) => {
          if (user) {
            this.$router.push({
              name: "dashboard",
            });

            this.clearFields();
          }
        });
      }
    },

    resetValidation(event) {
      this.clearFormErrors();
      this.v$[event.target.name].$reset();
    },

    clearFields() {
      this.v$.$reset();
      this.email = "";
      this.password = "";
    },
  },
};
</script>
