<template>
  <div class="row">
    <CardPanel class="s12" title="Моя реферальная ссылка:" :value="refLink">
      <a class="waves-effect waves-light btn reflink-copy" @click="copy">
        <i class="material-icons left">content_copy</i>Скопировать
      </a>
    </CardPanel>
  </div>

  <div class="row">
    <CardPanel
      class="m4 s12"
      title="Дата создания аккаунта:"
      :value="$_filters.dateTime($_user.createdAt / 1000)"
    />

    <CardPanel
      class="m4 s12"
      title="Дата последней авторизации:"
      :value="$_filters.dateTime($_user.lastLoginAt / 1000)"
    />

    <CardPanel
      class="m4 s12"
      title="Дата смены пароля:"
      :value="$_filters.dateTime($_user.passwordUpdatedAt / 1000)"
    />
  </div>
</template>

<script>
import asyncImport from "@/utils/helpers/async-import";

const CardPanel = asyncImport("CardPanel");

export default {
  components: {
    CardPanel,
  },

  computed: {
    refLink() {
      return `${window.location.origin}/sign-up?ref=${
        this.$_user && this.$_user.uid
      }`;
    },
  },

  methods: {
    copy() {
      navigator.clipboard
        .writeText(this.refLink)
        .then(() => {
          this.$_materialize.toast({
            html: "Ваша ссылка скопирована в буфер обмена!",
            classes: "rounded teal accent-4",
          });
        })
        .catch(() => {
          this.$_materialize.toast({
            html: "Не удалось скопирована в буфер обмена! Попробуйте это сделать вручную...",
            classes: "rounded deep-orange accent-4",
          });
        });
    },
  },
};
</script>
