<template>
  <div class="row">
    <CardPanel
      class="m6 s12"
      title="Всего рекрутов:"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.number(itemsCount)"
    />

    <CardPanel
      class="m6 s12"
      title="Из них активных:"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.number(activeItemsCount)"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const CardPanel = asyncImport("CardPanel");

export default {
  components: {
    CardPanel,
  },

  computed: {
    ...mapState("recruits", ["items", "isFetching", "hasFetchingError"]),

    itemsCount() {
      return this.items.length;
    },

    activeItemsCount() {
      return this.items.reduce((acc, item) => {
        return acc + item.isActive ? 1 : 0;
      }, 0);
    },
  },

  mounted() {
    this.fetchRecruits(this.$_user.uid);
  },

  methods: {
    ...mapActions("recruits", { fetchRecruits: "FETCH_RECRUITS" }),
  },
};
</script>
