<template>
  <div class="row">
    <CardPanel
      class="m4 s12"
      title="Текущий баланс"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.currency(currentBalance, 'USD')"
    />

    <CardPanel
      class="m4 s12"
      title="Переведено средств"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.currency(totalTransfered, 'USD')"
    />

    <CardPanel
      class="m4 s12"
      title="Выведено средств"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.currency(totalWithdrawn, 'USD')"
    />
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p>Обороты</p>

        <div class="row">
          <div class="col s4">
            <p>Моих партнеров</p>
            <h4>{{ $_filters.currency(totalEarned, "USD") }}</h4>
          </div>
          <div class="col s4">
            <p>Партнеров рекрутов 1го уровня</p>
            <h4>{{ $_filters.currency(partnerPurchaseBonus, "USD") }}</h4>
          </div>
          <div class="col s4">
            <p>Партнеров рекрутов 2го уровня</p>
            <h4>{{ $_filters.currency(recruitPurchaseBonus, "USD") }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m8 s12">
      <div class="card-panel">
        <p>Заработано</p>

        <div class="row">
          <div class="col s4">
            <p>Всего</p>
            <h4>{{ $_filters.currency(totalEarned, "USD") }}</h4>
          </div>
          <div class="col s4">
            <p>От партнеров</p>
            <h4>{{ $_filters.currency(partnerPurchaseBonus, "USD") }}</h4>
          </div>
          <div class="col s4">
            <p>От рекрутов</p>
            <h4>{{ $_filters.currency(recruitPurchaseBonus, "USD") }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col m4 s12">
      <div class="operations-card">
        <a class="waves-effect waves-light btn">
          <i class="material-icons left">arrow_forward</i>Перевести
        </a>
        <a class="waves-effect waves-light btn">
          <i class="material-icons left">arrow_downward</i>Вывести
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const CardPanel = asyncImport("CardPanel");

export default {
  components: {
    CardPanel,
  },

  computed: {
    ...mapState("finances", ["items", "isFetching", "hasFetchingError"]),

    approvedItems() {
      return this.items.filter((item) => item.isCompleted && !item.isDeclined);
    },

    currentBalance() {
      return this.approvedItems.reduce((acc, item) => {
        return (
          acc +
          (item.isTransfer || item.isWithdrawal
            ? -Math.abs(item.amount)
            : Math.abs(item.amount))
        );
      }, 0);
    },

    partnerPurchaseBonus() {
      return this.approvedItems.reduce((acc, item) => {
        return (
          acc + (item.isBonusForPartnerPurchase ? Math.abs(item.amount) : 0)
        );
      }, 0);
    },

    recruitPurchaseBonus() {
      return this.approvedItems.reduce((acc, item) => {
        return acc + (item.isBonusForRecruit ? Math.abs(item.amount) : 0);
      }, 0);
    },

    totalEarned() {
      return this.partnerPurchaseBonus + this.recruitPurchaseBonus;
    },

    totalTransfered() {
      return this.approvedItems.reduce((acc, item) => {
        return acc + (item.isTransfer ? Math.abs(item.amount) : 0);
      }, 0);
    },

    totalWithdrawn() {
      return this.approvedItems.reduce((acc, item) => {
        return acc + (item.isWithdrawal ? Math.abs(item.amount) : 0);
      }, 0);
    },
  },

  mounted() {
    this.fetchFinances(this.$_user.uid);
  },

  methods: {
    ...mapActions("finances", { fetchFinances: "FETCH_FINANCES" }),
  },
};
</script>
