<template>
  <div class="row">
    <CardPanel
      class="m4 s12"
      title="Всего партнеров"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.number(itemsCount)"
    />

    <CardPanel
      class="m4 s12"
      title="Из них активных"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.number(activeItemsCount)"
    />

    <CardPanel
      class="m4 s12"
      title="Заказов"
      :is-fetching="isFetching"
      :has-fetching-error="hasFetchingError"
      :value="$_filters.number(activeItemsCount)"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import asyncImport from "@/utils/helpers/async-import";

const CardPanel = asyncImport("CardPanel");

export default {
  name: "MonitoringPartners",

  components: {
    CardPanel,
  },

  computed: {
    ...mapState("partners", ["items", "isFetching", "hasFetchingError"]),

    itemsCount() {
      return this.items.length;
    },

    activeItemsCount() {
      return this.items.reduce((acc, item) => {
        return acc + item.isActive ? 1 : 0;
      }, 0);
    },

    circulatingAssets() {
      return this.items.reduce((acc, item) => {
        return acc + item.circulatingAssets;
      }, 0);
    },
  },

  mounted() {
    this.fetchPartners(this.$_user.uid);
  },

  methods: {
    ...mapActions("partners", { fetchPartners: "FETCH_PARTNERS" }),
  },
};
</script>
