<template>
  <div
    :class="['-status-bar', { 'is-opened': isOpened, 'is-wide': isWidesized }]"
    v-if="isShowed"
  >
    <div class="-status-bar__title">
      <span v-if="isWidesized && $_user"
        >{{ $_user.displayName }} ({{ $_user.email }})</span
      >

      <div class="-status-bar__actions">
        <button
          v-if="isWidesized"
          class="-status-bar__btn"
          type="button"
          @click="isOpened = !isOpened"
        >
          <span aria-hidden="true">{{ isOpened ? "&darr;" : "&uarr;" }}</span>
        </button>

        <button
          class="-status-bar__btn"
          type="button"
          @click="
            isWidesized = !isWidesized;
            isOpened = false;
          "
        >
          <span aria-hidden="true">{{
            isWidesized ? "&larr;" : "&rarr;"
          }}</span>
        </button>
      </div>
    </div>
    <div class="-status-bar__body">
      <pre class="-status-bar__pre">{{ $_user }}</pre>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpened: false,
      isWidesized: false,
      isShowed: process.env.NODE_ENV === "development",
    };
  },
};
</script>

<style lang="scss">
@import "@/assets/materialize-vars.scss";

.-status-bar {
  z-index: 1000;
  background-color: $primary-color;
  color: white;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  border-radius: 0 15px 0 0;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
  }

  &__body {
    display: none;
    color: white;
    overflow-x: scroll;
  }

  &__pre {
    color: white;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      transparent 20%,
      transparent 80%,
      rgba(0, 0, 0, 0.1)
    );
    padding: 1rem;
    margin: 0;
  }

  &__btn {
    color: white;
    background: none;
    border: 1px solid white;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    line-height: 2em;
    margin: 0 0.25em;
    padding: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
    }

    &:focus {
      box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.1);
      outline: none;
    }

    &:active {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &.is-opened {
    height: 700px;

    .-status-bar__body {
      display: block;
    }
  }

  &.is-wide {
    width: 100%;
    font-size: 16px;
    border-radius: 0;
  }
}
</style>
